*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    outline: none;
}


.first{
    background-color: #13661e;
    width: 100%;
    z-index: 600;
    position: fixed;
}


.para{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    padding-top: 3px;
}


.first-p{
    font-style: italic;
}


.but{
    background-color: #22ca22;
    padding: 8px  15px;
    color: white;
    border: none;
    font-size: 15px;
}

.but:hover{
    cursor: pointer;
}

 .nav-bar{
    width: 100%;
    position: fixed;
    top: 28px;
    display: flex;
    flex-flow: row nowrap;
    z-index: 500;
    border-bottom: 2px solid rgb(224, 223, 223);
}


.nav-img{
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: white;
}


.hd-img{
    width: 150px;
    height: auto;
}


.nav-links{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}

.up{ 
    float: right;
    color: black;
    padding-top: 10px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 47px;
    font-family: sans-serif;
    border-bottom: 2px dotted black;
}

.down{
    width: 100%;
}


.down ul{
    float: right;
    margin-right: 20px;
    padding-top: 26px;
}


.down ul li{
    display: inline-flex;
    margin-right: 20px;
    position: relative;
    padding: 10px;
}

.down ul li a{
    text-decoration: none;
    color: #13661e;
    font-family: sans-serif;
    font-size: 14px;
}

.down ul li .get-started {
    background-color: #13661e;
    padding: 10px  20px;
    color: white;
}


.down ul li ul {
    width: 100%;
    background-color: #13661e;
    padding-top: 0px;
    position: absolute;
    top: 33px;
    display: none;
}


.down ul li:hover ul{
    display: block;
}

.down ul li ul li a{
    color: white;
}

.bg-img{
    width: 100%;
    height: 600px;
    position: relative;
}

.img{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 122px;
    left:0px;
    bottom:0px;
}


.enabling{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 150px;
    font-size: 35px;
    color: white;
}

.text{
    text-align: center;
    font-size: 25px;
    font-family: "Montserrat",sans-serif;
    padding-top: 30px;
    color: white;
}

.message{
    position: fixed;
    background-color: white;
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    z-index: 700;
}

.icon{
    position: absolute;
    top: 30%;
    right: 26%;
}

.message-cont{
    background-color: blue;
    width: 350px;
    height: 30%;
    position: fixed;
    right: 80px;
    bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    z-index: 300;
    display: none;
}

.three-div{
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    /* height: 320px; */
    margin-top: 40px;
    margin-left:5%;
    margin-bottom: 20px;
    background-color: white;
}

.first-div{
    width: 350px;
    height: 270px;
    background-color: white;
    border: 2px solid rgb(161, 160, 160);
}

.second-div{
    width: 350px;
    height: 270px;
    background-color: white;
    color: black;
    margin-left: 6%;
    border: 2px solid rgb(161, 160, 160);
}

.third-div{
    width: 350px;
    height: 270px;
    background-color: white;
    margin-left: 6%;
    border: 2px solid rgb(161, 160, 160);
}

.div-img{
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    position: relative;
}

.display{
    background-color: rgb(128, 128, 253);
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 98%;
    opacity: 0.7;
    display: none; 
}

.display-icon{
    width: 50px;
    height: 30px;
    position: absolute;
    top: 70px;
    left: 110px;
    display: none;
}

.first-div:hover .display{
    display: block;
    color: blue;
}

.first-div:hover .one-txt{
    color: blue;
}

.second-div:hover .display{
    display: flex;
    color: blue;
}

.second-div:hover .one-txt{
    color: blue;
}

.third-div:hover .display{
    display: flex;
    color: blue;
}

.third-div:hover .one-txt{
    color: blue;
}

.one-txt{
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
}


.two-txt{
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
    color: rgb(146, 145, 145)
}

.pix{
    background-color: white;
    width: 100%;
    display: inline-flex;
    margin-bottom: 90px;
}

.pics{
    width: 19%;
    height: auto;
    margin-top: 39px;
    padding-left: 8%;
    margin-right: -10px;
    position: relative;
}

.service1{
    font-family: sans-serif;
    position: absolute;
    left: 12%;
    top: 1170px;  
    z-index: 300;
    
}

.service2{
    font-family: sans-serif;
    position: absolute;
    left: 30%;
    top: 1170px;
}

.service3{
    font-family: sans-serif;
    position: absolute;
    left: 48%;
    top: 1170px;
}

.service4{
    font-family: sans-serif;
    position: absolute;
    left: 66.5%;
    top: 1170px;
}

.service5{
    font-family: sans-serif;
    position: absolute;
    left: 85%;
    top: 1170px;
}


.clients{
    background-color: white;
    width: 170px;
    height: 40px;
    margin-top: 40px;
    margin-left: 44%;
    margin-bottom: 30px;
    padding: 10px  20px;
    box-shadow: 0px 0px 5px black;
    border-radius: 7px;
}

.a-clients{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
}

.a-clients:hover{
    color: rgb(175, 173, 173);
}

.container{
    width: 86%;
    height: 300px;
    margin-left: 7%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: white;
    display: block;
    position: relative;
    /* overflow: hidden; */
}

.abs-container{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.line-1{
    width: 100%;
    height: 300px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    padding-top: 80px;
    animation: slide 15s ease infinite;
}

.line-2{
    width:100%;
    height: 300px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    padding-top: 80px;
    bottom: 100px;
}


.line-3{
    width: 100%;
    height: 300px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    padding-top: 80px;
}

@keyframes slide{
    0%{margin-top: -810px;}
    15%{margin-top: -620px;}
    40%{margin-top: -620px;}
    55%{margin-top: -320px;}
    65%{margin-top: -320px;}
    80%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

.next{
    width: 90%;
    height:350px;
    margin-left: 5%;
    background-color: white;
}

.head{
    text-align: center;
    padding: 60px;
    font-size: 35px;
    margin-left: 30px;
    font-family: sans-serif;
}

.par{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0px 100px
    
}

.container2{
    width: 100%;
    background-color:white;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 60px;
}

.cont{
    width: 45%;
    height: 100%;
    background-color: #ffff;
    margin-left: 4%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(167, 165, 165);
}

.ainer{
    width: 45%;
    height: 100%;
    background-color: #ffff;
    margin-left: 3%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(167, 165, 165);
}

.main{
    width: 100%;
    height: 300px;
    background-color: #ffff;
    cursor: pointer;
}

.second{
    width: 100%;
    height: 300px;
    background-color: #ffff;
    cursor: pointer;
}

.second:hover,.main:hover{
    color: rgb(136, 132, 132);
    transition: 0.5s ease;
}

.main1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 39%;
}

.header1{
    text-align: center;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 23px;
}

.para1{
    text-align: center;
    padding: 0px 13px;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.one{
    height: 150px;
    background-color:white;
    text-align: center;
    border-top: 1px solid grey;
    display: none;
}

.one a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;

}

.one a:hover{
    color: rgb(136, 132, 132);
    transition: 1s ease;
}

.two{
    height: 37px;
    background-color:white;
    text-align: center;
    border-top: 1px solid grey;
    display: none;
}

.show{
    display: block;
}

.two a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;

}

.two a:hover{
    color: rgb(136, 132, 132);
    transition: 1s ease;
}

.weekly{
    width: 100%;
    height: 130px;
    margin-top: 30px;
    background-color: #13661e;
}

.weekly-txt{
    text-align: center;
    color: #ffff;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 40px;
}

.img-container{
    width: 100%;
    height: 600px;
    background-color: #ffff;
}

.img-main{
    margin-top: 40px;
    width: 100%;
    height: 250px;
}
.img-one{
    width: 30%;
    height: 100%;
    margin-left: 35%;
}

.second-img{
    width: 100%;
    height: 150px;
    margin-top: 40px;
    display: flex;
    flex-wrap: row nowrap;
}

.img-two,.img-three,.img-four{
    height: 100%;
    width: 20%;
    margin-left: 7%;
    margin-right: 6%;
}

.div-five{
    padding: 11px 15px;
    background-color: rgb(167, 164, 164);
    width: 120px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 60px;
    margin-left: 47%;
    cursor: pointer;
}

.off{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.div-five:hover{
    background-color: #13661e;
}

.div-five:hover .off{
    background-color: #13661e;
    color: #ffff;
}

.recent{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-family: sans-serif;
}

.do{
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
}

.great-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.things-txt{
    text-align: center;
    font-family: sans-serif;
    font-size: 43px;
    color: white;
    margin-top: 120px;
}

.txt-border{
    width: 130px;
    height: 50px;
    padding: 13px 23px;
    border: 4px solid white;
    border-radius: 4px;
    margin-top: 60px;
    margin-left: 45%;
}

.a-txt{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

.flutter{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 50px;
    width: 100%;
    height: 250px;
    border-bottom: 1px solid rgb(184, 181, 181);
    background-color: white;
}

.num-one{
    width: 20%;
    height: 100%;
    background-color: white;
}

.num-two{
    width: 27%;
    height: 100%;
    background-color: white;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(155, 151, 151);
    padding-top: 35px;
    padding-right: 10px;
}

.num-three{
    width: 25%;
    height: 100%;
    background-color: white;
    padding-left: 20px;
    padding-top: 35px;
    font-family: sans-serif;
    font-size: 20px;
    
}

.num-four{
    width: 25%;
    height: 100%;
    background-color: white;
    font-size: 13px;
    font-family: sans-serif;
    padding-top: 35px;
    color: rgb(155, 151, 151);
    padding-left: 35px;
}

.a{
    font-family: sans-serif;
    text-decoration: none;
    color: #13661e;
}

.a-button{
    font-size: 15px;
    color: #13661e;
    text-decoration: none;
}

.email{
    width: 98%;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid rgb(77, 76, 76);
    font-family: sans-serif;
}

.names{
    width: 48%;
    margin-top: 7px;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid rgb(77, 76, 76);
    font-family: sans-serif;
    display: inline-block;
}

.button{
    border: 2px solid #13661e;
    width: 110px;
    padding: 5px 7px;
    margin-top: 20px;
}

.end{
    width: 100px;
    height: 60px;
    font-size: 10px;
    font-family: sans-serif;
    color: rgb(141, 140, 140);
    margin-left: 48%;
    padding-top: 40px;
}