*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    outline: none;
}


.first{
    background-color: #13661e;
    width: 100%;
    z-index: 600;
    position: fixed;
}


.para{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    padding-top: 3px;
}


.first-p{
    font-style: italic;
}


.but{
    background-color: #22ca22;
    padding: 8px  15px;
    color: white;
    border: none;
    font-size: 15px;
}

.but:hover{
    cursor: pointer;
}

 .nav-bar{
    width: 100%;
    position: fixed;
    top: 28px;
    display: flex;
    flex-flow: row nowrap;
    z-index: 500;
    border-bottom: 2px solid rgb(224, 223, 223);
}


.nav-img{
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: white;
}


.hd-img{
    width: 150px;
    height: auto;
}


.nav-links{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}

.up{ 
    float: right;
    color: black;
    padding-top: 10px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 47px;
    font-family: sans-serif;
    border-bottom: 2px dotted black;
}

.down{
    width: 100%;
}


.down ul{
    float: right;
    margin-right: 20px;
    padding-top: 26px;
}


.down ul li{
    display: inline-flex;
    margin-right: 10px;
    position: relative;
    padding: 5px 5px;
}

.down ul li a{
    text-decoration: none;
    color: #13661e;
    font-family: sans-serif;
    font-size: 13px;
}

.down ul li .get-started {
    background-color: #13661e;
    padding: 10px  20px;
    color: white;
}


.down ul li ul {
    width: 100%;
    background-color: #13661e;
    padding-top: 0px;
    position: absolute;
    top: 25px;
    display: none;
}

.down ul li ul li{
    padding: 10px
}


.down ul li:hover ul{
    display: block;
}

.down ul li ul li a{
    color: white;
}

.message{
    position: fixed;
    background-color: white;
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    z-index: 700;
}

.icon{
    position: absolute;
    top: 30%;
    right: 26%;
}

.photo{
    position: relative;
    top: 120px;
    height: 200px;
    width: 100%;
    background-color: #13661e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ph-txt{
    color: #ffff;
    font-family: sans-serif;
    font-size: 30px;
}


.ph-section{
    width: 90%;
    margin-left: 5%;
    margin-top: 230px;
    background-color: #ffff;
    display: flex;
    flex-flow: row wrap;
}

.img{
    height: 33.3%;
    width: 19%;
    cursor: pointer;
    margin-left: 1%;
    margin-bottom: 40px;
}

.modal-img{
    width: 100%;
    height: 100%;
}


.modal-cont{
    position:fixed;
    width:100%;
    height: 100%;
    background-color: rgb(0,0,0,0.9);
    left:0px;
    top:0;
    z-index: 700;
    display: none;
    transition: .5s ease;
}

.show{
    display: flex;
}


.modal{
    width: 70%;
    height: 80%;
    background-color: #ffff;
    position: relative;
    margin-left: 15%;
    margin-top: 4.5%;
    transition: 1s  ease;
}

.close{
    font-family: sans-serif;
    margin: 10px  20px;
    cursor: pointer;
    z-index: 500;
    color: black;
    margin-top: 40%;
}

.close:hover{
    color: red;
    transition: color  .5s ease;
}
.close-box{
    position: absolute;
    left: 94%;
    height: 5%;
    width: 6%;
    background-color: white;
}

.flutter{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid rgb(184, 181, 181);
    background-color: white;
}

.num-one{
    width: 23%;
    height: 100%;
    background-color: #2c2b2b;
}

.log{
    width: 150px;
    height: 70px;
    margin-left: 20px;
    margin-top: 35px;
}

.follow{
    margin-left: 20px;
    padding-top: 10px;
    font-family: sans-serif;
    color: #ffff
    
}

.social{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 32px;
    display: inline-flex;
}

.media{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.last-txt{
    color: white;
    font-family: sans-serif;
    margin-left: 20px;
    padding-top: 20px;
}

.num-two{
    width: 20%;
    height: 100%;
    background-color: #2c2b2b;
    font-family: sans-serif;
    padding-left: 45px;
    
}

.about-us{
    font-size: 23px;
    color: #ffff;
    padding-top: 30px;
}

.list1{
    list-style: none;
    padding: 15px  0;
}

.list1 li{
    padding: 9px  0;
    font-size: 15px;
}

.list1 li a{
    color: #ffff;
    text-decoration: none;
}

.num-three{
    width: 20%;
    height: 100%;
    background-color: #2c2b2b;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
    
}

.num-four{
    width: 20%;
    height: 100%;
    background-color: #2c2b2b;
    font-size: 13px;
    font-family: sans-serif;
    padding-left: 35px;
}

.num-five{
    width: 20%;
    height: 100%;
    background-color: #2c2b2b;
    font-size: 13px;
    font-family: sans-serif;
    padding-top: 30px;
}

.stay{
    font-size: 15px;
    color: #ffff;
    padding-bottom: 10px;
}

.a{
    font-family: sans-serif;
    text-decoration: none;
    color: #13661e;
}

.email{
    width: 80%;
    padding: 20px 10px;
    border-radius: 4px;
    border: 1px solid rgb(173, 171, 171);
    font-family: sans-serif;
    font-size: 17px;
}

.button{
    width: 70px;
    padding: 9px 7px;
    margin-top: 20px;
    cursor: pointer;
    color: #ffff;
    background-color: #13661e;
    border: none;
    font-size: 16px;
    border-radius: 7px;
}

.end{
    width: 100px;
    height: 60px;
    font-size: 10px;
    font-family: sans-serif;
    color: rgb(141, 140, 140);
    margin-left: 48%;
    padding-top: 40px;
}